.item {
  height: 2.5rem;
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(202, 202, 202);
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem auto;
  background-color: #6a2b05;
  transition: all 0.2s;
  cursor: pointer;
  color: white;
  position: relative;
  overflow: hidden;
}

.btn {
  right: -5px;
  height: 3rem;
  width: 4rem;
  position: absolute;
}
.item:hover {
  transform: scale(1.02);
}
